body {
    background-color: white;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

hr {
    color: black;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

table {
    border: 2px solid black;
    text-align: center;
    position: absolute;
    font-size: 25px;
    margin-left:8px;
    width: 435px;
}

input{
    text-align: center;
    width: 50px;
}

button {
    font-weight: bold;
    font-size: 17px;
    background-color:burlywood;
    width: 100%;
    height: 40px;
}

.anaKutu {
    border: 3px solid white;
    height: 610px;
    position: relative;
}

.yavruKutu1 {
    position: absolute;
    border: 2px solid blue;
    margin-top: 1px;
    margin-left: 1px;
    height: 605px;
    width: 450px;
}
.yavruKutu2 {
    position: absolute;
    border: 2px solid red;
    margin-top: 1px;
    margin-left: 458px;
    height: 605px;
    width: 450px;
}
.yavruKutu3 {
    position: absolute;
    border: 2px solid green;
    margin-top: 1px;
    margin-left: 915px;
    height: 605px;
    width: 426px;
}